body{
    font: normal 18pt arial;
    background: blue;
    text-align: center;
    
}
section{
    background: white;
    color: black;
    width: 500px;
    height: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 5px 5px  black;
}
div{
    margin-top: 30px;
}
footer{
    color: white;
    text-align: center;
    padding: 10px;
    font-style: italic ;
}
h1{
    color: white;

}