body{
    background: blue;
    font: normal  18px arial;
    
}
header{
     color: white;
     text-align: center;
}
section{
    background: white;
    color:  black; 
    padding: 10px; /*largura interna*/
    width: 500px; /*largura da background*/
    margin: auto; /*centralizar a section*/
    box-shadow: 5px 5px 5px black; /*sombra*/
    border-radius: 10px; /*bordas arredondadas*/
}

select{
    margin: 5px;
    width:150px;
}
footer{
    text-align: center;
    color: white;
}